<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <style>

  </style>
</head>
<body>
<footer class="pagination-footer fixed-bottom bg-white py-2 border-top shadow" th:fragment="footer">
  <nav th:if="${totalPages > 1}">
    <ul class="pagination justify-content-center mb-0">
      <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
        <a class="page-link" th:href="@{/crud(page=${currentPage - 1})}">Anterior</a>
      </li>
      <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
          th:classappend="${i == currentPage} ? 'active'">
        <a class="page-link" th:href="@{/crud(page=${i})}" th:text="${i + 1}"></a>
      </li>
      <li class="page-item" th:classappend="${currentPage + 1 >= totalPages} ? 'disabled'">
        <a class="page-link" th:href="@{/crud(page=${currentPage + 1})}">Siguiente</a>
      </li>
    </ul>
  </nav>
</footer>
</body>
</html>